<div class="product-page">
  <a href="/">Voltar</a>
  <div class="product">
    <h1>{{product.name}}</h1>
    <img src="{{product.image}}" alt="{{product.name}}" />
    <p>Preço: R${{product.price}}</p>
    <span>Descrição: {{product.description}}</span>

    <form
      action="/remove/{{product._id}}"
      method="POST"
      style="box-shadow: none;"
    >
      <input type="submit" class="btn" value="Excluir" />
    </form>
  </div>
</div>